{% if visual_selection %}
Answer the question based on the context below. Keep the answer short and concise. Respond "Unsure about answer" if not sure about the answer.

{% else %}
Answer the question below. Keep the answer short and concise. Respond "Unsure about answer" if not sure about the answer.

{% endif %}